include AUTHORS.txt
include LICENSE.txt
include CHANGES.txt
include README.rst
include docker/_vendor/README.rst
include docker/_vendor/vendor.txt

exclude .coveragerc
exclude .mailmap
exclude .travis.yml
exclude docker/_vendor/Makefile
exclude tox.ini
exclude dev-requirements.txt

recursive-include docker/_vendor *.pem
recursive-include docs Makefile *.rst *.py *.bat

prune .travis
prune docs/_build
prune contrib
prune tasks
prune tests
